@import './components/layout.styl'
@import './components/deviceLoadStatusBar.styl'
@import './components/detailedSystemLoadWidget.styl'
@import './components/computePerformancePage.styl'
@import './components/deepLearningComponents.styl'
@import './pages/conveyorBeltStatus.styl'