@import '../common.styl'
.router-tap{
  background: #00508d
}
.reset-button{
  background: $greyButtonBgColor
}
.q-page-container{
  min-height: 405px;
}
.q-page{
  min-height: 405px !important;
}
.q-toolbar {
    height: 70px;
}

.toradex-logo {
    min-height: 41px;
    max-height: 60px;
    max-width: 189px !important;
    flex-grow: 2;
}

.aws-logo {
    min-height: 21px;
    max-height: 40px;
    margin-left: 20px;
    max-width: 60px !important;
    flex-grow: 1;
}

.nxp-logo {
    min-height: 21px;
    max-height: 60px;
    margin-left: 20px;
    max-width: 113px !important;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    h4{
        font-size: 5.5vw !important;
    }
}


.mobile{
    .q-tabs__arrow{
        display: inline-flex !important
    }
    .q-tabs--not-scrollable .q-tabs__arrow{
        display: none
    }
}
.loading-device-status {
	position: initial !important
}